/* styles.css */

/* header css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

input[type="text"] {
  padding: 8px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.home a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  float: left;
}

.favourite a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  float: right;
}

header h1{
  text-align: center;
  margin-top: 2rem;
}

/* General css */

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
}

button:hover {
  background-color: #0056b3;
}

/* superheroes home page css */

#superheroesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.superhero-card {
  width: 200px;
  margin: 10px;
  text-align: center;
}

.superheroName{
  height: 60px;
  width: 200px;
}

.superhero-card img {
  width: 100%;
  border-radius: 5px;
}

/* Favourite superheroes page css */

.favouriteheroes-List{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.favorite-superhero-card{
  width: 200px;
  margin: 10px;
  text-align: center;
}

.favouriteHeroName{
  height: 60px;
  width: 200px;
}

.favorite-superhero-card img{
  width: 100%;
  border-radius: 5px;
}

/* Superhero details page css */

.heading{
  font-size: 3rem;
  text-align: center;
  color: red;
  margin-bottom: 50px;
}
.superhero-details{
  text-align: center;
  color: green;
  margin-bottom: 80px;
}

.superhero-details p{
  width: 300px;
  margin: auto;
  color: rebeccapurple;
}
.superhero-details img{
  display: block;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
}


#comics{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

#events{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

#series{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

#stories{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.superheroDesc{
  width: 300px;
  text-align: center;
  color: rebeccapurple;
  height: 300px;
  overflow-y: scroll;
  margin-top:30px;
  margin-bottom: 30px;
}

.superheroImage img{
  width: 300px;
  height: 300px;
  border-radius: 5px;
  object-fit: contain;

}

